.cart-card-container img {
    height: 10rem;
    width: 10rem;
}

.adjust-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

input {
    text-align: center;
}